img {
    max-width: 100%;
    height: auto;
}
body { 
    padding-top: 70px; 
}

h1 small {
    font-size: 24px;
}

.margin-bot {
    margin-bottom: 10px;
}
.margin-top {
    margin-top: 10px;
}

.jumbotron {
    padding-top: 1px !important;
}
.banner{
    height: 250px;
    background-image: url('http://media.nitroserv.com/GRTV/slider/mardi.jpg');
}

.cadre-header{
    border-bottom: 2px black solid;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.img_mini {
    width: 200px;
}




