/* 
    AGNAM STORE
    by Alexandre/Pierre
*/

img {
    max-width: 100%;
    height: auto;
}
body { 
    padding-top: 70px; 
}

h1 small {
    font-size: 24px;
}

.margin-bot {
    margin-bottom: 10px;
}
.margin-top {
    margin-top: 10px;
}

.jumbotron {
    padding-top: 1px !important;
}
.banner{
    height: 250px;
    background-image: url('http://media.nitroserv.com/GRTV/slider/mardi.jpg');
}

.cadre-header{
    border-bottom: 1px #ddd solid;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.item-img {
    width: 400px;
    height: 600px;
}

/* NAVBAR AGNAM STORE */
.navbar-agnam {
  background-color: rgba(189,0,0,0.95);
  border-color: #e7e7e7;
}
.navbar-agnam .navbar-brand {
  color: #fff;
  padding: 0px;
}
.navbar-agnam .navbar-brand:hover,
.navbar-agnam .navbar-brand:focus {
  color: #fff;
  text-shadow: 0px -1px 17px #fff;
  background-color: transparent;
}
.navbar-agnam .navbar-text {
  color: #fff;
}
.navbar-agnam .navbar-nav > li > a {
  color: #fff;
}
.navbar-agnam .navbar-nav > li > a:hover,
.navbar-agnam .navbar-nav > li > a:focus {
  color: #666666;
  background-color: #f4f4f4;
}
.navbar-agnam .navbar-nav > .active > a,
.navbar-agnam .navbar-nav > .active > a:hover,
.navbar-agnam .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #f4f4f4;
}
.navbar-agnam .navbar-toggle {
  border-color: #ddd;
}
.navbar-agnam .navbar-toggle:hover,
.navbar-agnam .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-agnam .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-agnam .navbar-collapse,
.navbar-agnam .navbar-form {
  border-color: #f4f4f4;
}
.navbar-agnam .navbar-nav > .open > a,
.navbar-agnam .navbar-nav > .open > a:hover,
.navbar-agnam .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #f4f4f4;
}
@media (max-width: 767px) {
  .navbar-agnam .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-agnam .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-agnam .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-agnam .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-agnam .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-agnam .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333;
    background-color: #fff !important;
  }
}
.navbar-agnam .navbar-link {
  color: #777;
}
.navbar-agnam .navbar-link:hover {
  color: #333;
}
.navbar-agnam .btn-link {
  color: #777;
}
.navbar-agnam .btn-link:hover,
.navbar-agnam .btn-link:focus {
  color: #333;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #bd0000 !important;
}

/* BOUTON (#d23632 / #c12e2a) */
.btn-agnam, .btn-agnam:active {
    background: #c12e2a !important;
    background: linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    background: -webkit-linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    background: -moz-linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    background: -ms-linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    background: -o-linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    background: linear-gradient(rgb(197, 55, 39), rgb(168, 43, 34)) !important;
    color:#fff !important;
}

.btn-agnam {
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.2), 0 -1px 0 rgba( 255, 255, 255, 0.1) !important;
}

.btn-agnam:hover, .btn-agnam:focus {
    background: #c12e2a !important;
    background: -webkit-linear-gradient(rgb(209, 58, 47), rgb(188, 46, 42)) !important;
    background: -moz-linear-gradient(rgb(209, 58, 47), rgb(188, 46, 42)) !important;
    background: -ms-linear-gradient(rgb(209, 58, 47), rgb(188, 46, 42)) !important;
    background: -o-linear-gradient(rgb(209, 58, 47), rgb(188, 46, 42)) !important;
    background: linear-gradient(rgb(209, 58, 47), rgb(188, 46, 42)) !important;
    color:#fff !important;
}

.btn-agnam:active{
    box-shadow: 1px 1px 10px #000 inset, 0 1px 0 rgba( 255, 255, 255, 0.4) !important;
}

.item-tile {
    height: 50px;
}


.userTab {
    margin-bottom: 20px;
}


/* ANIMATION LOGO */
.mask a:hover, .mask a:focus{
    -webkit-animation: tada 1s;
       -moz-animation: tada 1s;
        -ms-animation: tada 1s;
         -o-animation: tada 1s;
            animation: tada 1s;
    }
    
@-webkit-keyframes tada {
        0% {-webkit-transform: scale(1);}	
        10%, 20% {-webkit-transform: scale(0.8) rotate(-3deg);}
        30%, 50%, 70%, 90% {-webkit-transform: scale(1) rotate(3deg);}
        40%, 60%, 80% {-webkit-transform: scale(1) rotate(-3deg);}
        100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes tada {
        0% {-moz-transform: scale(1);}	
        10%, 20% {-moz-transform: scale(0.8) rotate(-3deg);}
        30%, 50%, 70%, 90% {-moz-transform: scale(1) rotate(3deg);}
        40%, 60%, 80% {-moz-transform: scale(1) rotate(-3deg);}
        100% {-moz-transform: scale(1) rotate(0);}
}
@-ms-keyframes tada {
        0% {-ms-transform: scale(1);}	
        10%, 20% {-ms-transform: scale(0.8) rotate(-3deg);}
        30%, 50%, 70%, 90% {-ms-transform: scale(1) rotate(3deg);}
        40%, 60%, 80% {-ms-transform: scale(1) rotate(-3deg);}
        100% {-ms-transform: scale(1) rotate(0);}
}
@-o-keyframes tada {
        0% {-o-transform: scale(1);}	
        10%, 20% {-o-transform: scale(0.8) rotate(-3deg);}
        30%, 50%, 70%, 90% {-o-transform: scale(1) rotate(3deg);}
        40%, 60%, 80% {-o-transform: scale(1) rotate(-3deg);}
        100% {-o-transform: scale(1) rotate(0);}
}
@keyframes tada {
        0% {transform: scale(1);}	
        10%, 20% {transform: scale(0.8) rotate(-3deg);}
        30%, 50%, 70%, 90% {transform: scale(1) rotate(3deg);}
        40%, 60%, 80% {transform: scale(1) rotate(-3deg);}
        100% {transform: scale(1) rotate(0);}
}

.thumbnail-agnam {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fdfdfd;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 3px #555;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.thumbnail-agnam > img,
.thumbnail-agnam a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail-agnam:hover,
a.thumbnail-agnam:focus,
a.thumbnail-agnam.active {
  border-color: #428bca;
}
.thumbnail-agnam .caption {
  padding: 9px;
  color: #333;
}

.thumbnail-agnam > img,
.thumbnail-agnam a > img
{
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

